{% include skel_begin.html %}

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					{% include menu.html %}

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>{{ page.title }}</h2>
								<!--<p>{{ page.excerpt }}</p>-->
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									{% if page.post_img_url != "" %}
										<p><img src="{{page.post_img_url}}" id="post_img" /></p>
									{% endif; %}

									{{ content }}

								</div>
							</div>

					</section>

				<!-- Footer -->
					{% include footer.html %}

			</div>
{% include skel_end.html %}
